tab-color = #cccccc
poem-green = #bada55
poem-yellow = yellow
poem-gray = gray 
poem-white = white
poem-line-color = grey
poem-text-gray = gray
poem-text-black = black


app-header
  color #bada55
.poem-green
  background-color:poem-green
.index-tab img
	width:30px
	display: block
	margin:0 auto
