<footer class="text-center col-xs-12 index-tab" style="position: fixed;bottom: 0;background-color:#cccccc">
    <a href="#index-home" class="col-xs-3"><img src="../../asset/images/jounry.png"><span>首页22</span></a>
    <a href="#index-cart" class="col-xs-3"><img src="../../asset/images/jounry.png"><span>购物车</span></a>
    <a href="#index-article" class="col-xs-3"><img src="../../asset/images/jounry.png"><span>游记2</span></a> 
    <a href="#index-ucenter" class="col-xs-3" ><img src="../../asset/images/my.png"><span>我的2</span></a>
</footer> 