<footer class="text-center col-xs-12 index-tab" style="position: fixed;bottom: 0;">
    <a href="#index-home" class="col-xs-3"><img src="../../asset/images/store-white.png"><span>首页</span></a>
    <a href="#index-cart" class="col-xs-3"><img src="../../asset/images/cart-white.png"><span>购物车</span></a>
    <a href="#index-article" class="col-xs-3"><img src="../../asset/images/jounry.png"><span>游记</span></a> 
    <a href="#index-ucenter" class="col-xs-3" ><img src="../../asset/images/my.png"><span>我的</span></a>
</footer> 