<div class="view" v-transition>
	<common-header title="登陆"  left-label="" right-label=""></common-header>
	<div style="margin-top:5rem;text-align:center" class="login-container">
		<div style="margin:0 auto;width:8rem;background-color:#fff;border:#ccc 1px solid">
			<div style="width:100%">
				<img style="width:2rem;display:inline-block">
				<label>账号</label>
				<input style="border:0;heigth:1rem;width:7rem" />
			</div>
			<div style="display:inline-block">
				<img style="width:1.5rem">
				<label style="width:1.5rem">密码</label>
				<input style="border:0;heigth:50px;width:7rem" />
			</div>
		</div>
	</div>
</div>