@import "../../main.styl"
// px2rem(name, px){
//     name: px/75 
// }
app-header
  color #bada55
.filter-tab
	background-color:black
	opacity:0.9
	padding:3px 0
.poem-green
	background-color:poem-green
.filter-tab img
	width: 50px
	display: block
	margin:0 auto
.filter-tab a
	font-size:0.3rem
	color:rgb(88,88,88)
.filter-item li
	height:40px
	color:text-gray
	list-style:none
	font-size:16px
	
