<div  style="position: fixed;bottom: 0;width: 100%">
	<ul class="filter-item" style="width: 100%;list-style: none;text-align:center">
		<li>1</li>
		<li>2</li>
		<li>3</li>
	</ul>
	<footer class="text-center col-xs-12 filter-tab">
    	<a href="#index-home" class="col-xs-4"><img src="../../asset/images/all.png"><span>全部</span></a>
    	<a href="#index-cart" class="col-xs-4"><img src="../../asset/images/sort.png"><span>排序</span></a>
    	<a href="#index-article" class="col-xs-4">
    	<img src="../../asset/images/filter.png">
    		<span>筛选</span>
    	</a> 
	</footer>
</div>
