<header style="padding:10px 20px" class="poem-green">
	<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn" type="button" style="background:none;color:white">{{msg}}</button>
      </span>
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default glyphicon glyphicon-{{rightIcon}}" type="button">{{iconLeft}}</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</header>
